<h5 *ngIf="mealPlan">{{mealPlan.name}}</h5>
<div *ngIf="recipes | async as result else loading">
  <div class="recipe-list" *ngFor="let recipe of result">
    <i class="fa fa-angle-right"></i>
    <span>({{recipe.category}}) {{recipe.count}}x {{recipe.name}} -
      <em>{{recipe.cookbook}} pg. {{recipe.pageNumber}}</em>
    </span>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<div class="groceries" *ngIf="groceriesByCategory">
  <div class="grocery-list-group" *ngFor="let o of groceriesByCategory | keyvalue">
    <h3 matSubheader>{{o.key.replace("_", " ")}}</h3>
      <mat-list dense>
        <mat-list-item class='grocery-item' [ngClass]="{'strike': grocery.remove}" (click)="grocery.remove=!grocery.remove" *ngFor="let grocery of o.value">
          <span *ngIf="grocery.count > 0">{{grocery.count}}&nbsp;</span>
          <span *ngIf="grocery.weight > 0">{{grocery.weight}}{{grocery.unit}}&nbsp;</span>
          <span [ngClass]="grocery.supermarket" class="grocery-name">{{grocery.name}}</span>
          <!-- <span [ngClass]="grocery.supermarket" class="supermarket" *ngIf="grocery.supermarket">{{grocery.supermarket}}</span> -->
          <i *ngIf="grocery.dirty" class="fa fa-leaf"></i>
        </mat-list-item>
      </mat-list>
  </div>
</div>