.section-header {
//   @extend .section-header;
}


:host {
  width: 80rem;
  margin: 0 auto;
}

.recipe-list {
  display: flex;
  align-items: center;
  font-size:1.4rem;
  i {
    margin-right: 1rem;
  }
}


.groceries {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-top:1rem;
  font-size:1.1rem;
}
.grocery-list-group {
  display:flex;
  flex-direction:column;
  width:20rem;
  margin-bottom:1rem;
}
ul.grocery-list {
  list-style:inside none disc !important;
}

.grocery-item {
  margin-right: 1.5rem;
  cursor:pointer;
  i {
    margin-left:1rem;
    color: #27ae60;
  }
  &.strike {
    text-decoration: line-through;
  }

  // .supermarket {
  //   display:inline-block;
  //   width:20rem;
  //   border:1px solid;
  //   border-radius:999rem;
  //   padding:.1rem;
  // }
}
.grocery-name {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  &.E{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 80%, rgba(42,179,75,1) 100%);
  }
  &.K{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 80%, rgba(0,89,181,1) 100%);
  }

}



.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  h3 {
    margin: 0;
    padding: 0;
  }
}


.list-dot {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #000;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  margin-right:.5rem;
  background-color:#000;
}