<mat-sidenav-container class="mat-typography">
  <mat-sidenav [class.is-mobile]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="open">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recipes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-recipes [mealPlan]="mealPlan"></app-recipes>
    </mat-expansion-panel>

  </mat-sidenav>
  <mat-sidenav-content>
    <app-groceries [mealPlan]="mealPlan"></app-groceries>
  </mat-sidenav-content>
</mat-sidenav-container>
