:host {
  display:flex;
  flex:1;
  flex-direction:column;
}
.meal-plan-body {
    max-width:75rem;
    margin: 0 auto;
}

mat-sidenav-container {
  flex:1;
}
mat-sidenav {
  width:50rem;
  padding:3rem;
}
mat-sidenav-content {
  padding:3rem;
}