@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	margin:0;
	font-size:1.8rem;
	letter-spacing:0.02em;
	word-wrap:break-word;
	text-rendering:optimizeLegibility;
	line-height: 1.7;
	-moz-font-feature-settings: "liga" on;
}

.spacer {
  flex: 1 1 auto;
}

.mat-draw-content {
  height:100vh;
}

.loading {
    display:flex;
    flex:1;
    align-items:center;
    justify-content:center;
    height: 100vh;
}
.loading-small {
    display:flex;
    flex:1;
    align-items:center;
    justify-content:center;
}



a {
	color:inherit;
	text-decoration:none;
}

.link {
  color: #3498db;
  text-decoration: none;

  &:hover {
    color: #8a959e;
  }

  &:focus {
    color: #8a959e;
  }
}